@import url(reset.css);

:root {
    --app-bg-gray: #fff;/* used */
    --app-body-text-color: #4c4d4d; /* used */
    --app-header-color: #12274e;  /* used */
    --app-header-font-color: #fff; /* used */
    --app-footer-color: #fff;  /* used */
    --app-footer-font-color: #444; 
    --app-button-color: #e83e8c;  /* used */
    --app-button-font-color: #fff; /* used */
    --app-button-hover-color: #fff; /* used */
    --app-button-hover-font-color:  #e83e8c; /* used */
}

body {
    background-color: var(--app-bg-gray);
    color: var(--app-body-text-color);
}

/* ------------------------------- */
/* CSS Page Container              */
/* ------------------------------- */

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/* ------------------------------- */
/* HEADER                           */
/* ------------------------------- */

header {
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    height: 50px;
    width: 100%;
    color: var(--app-header-font-color);
}

.bg-dark {
    background-color: #0c0c0c;
}

header h1 {
    line-height: 50px;
    font-weight: 900;
}

header .flex {
    display: flex;
    justify-content: space-between;
}

header .title h1 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2px;
    line-height: 50px;
}

nav ul {
    list-style: none;
    font-size: 0;
}

nav ul li {
    display: inline;
    line-height: 50px;
}

nav ul li a, .nav-3bar i {
    color: var(--app-header-font-color);
    line-height: 50px;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.2px;
    transition: all 0.25s ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-3bar i {
    font-size: 20px;
    font-weight: 600;
}

nav ul li a:hover {  /*  .nav-3bar i:hover  */
    color: var(--app-button-color);
    background-color: transparent;
    /*display: inline-flex; */
    border-bottom: 2px solid var(--app-button-color);
}

@media (max-width:768px) {
    nav > ul {
        display: none;
    }

    .nav-3bar:first-child {
        display: block;
        text-align: right;
    }

    nav ul li {
        text-align: right;  
    }

    nav ul li ~ li {
        border-top: 1px solid rgba(250, 250, 250, 0.1);
    }

    nav ul li a:hover {
        border-bottom: none;
    }

    .show-menu-responsive {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
    }

    .show {
        display: grid;
    }

    .not-show {
        display: none;
    }
}

@media (min-width:768px) {
    nav > ul {
        display: block;
    }
    .nav-3bar {
        display: none;
    }    
}

/* ------------------------------- */
/* HOME - Main                     */
/* ------------------------------- */

main {
    height: auto;/* calc(100vh - 120px); */
   /* overflow: auto; */
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1 {
    height: 100vh;
    background: url("../images/hero-banner.jpg")  rgba(70, 56, 70);
    background-position: center; 
    background-size: cover;
    background-blend-mode: multiply;
}

.intro-animation-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-animation-col {
    width: 50%;
    text-align: center;
}

.title-middle h1 {
    font-size: 28px;
    color: var(--app-header-font-color);
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 40px;
    text-align: center;
    padding-bottom: 30px;
    animation: trans 0.5s ease-in;
    animation-delay: 0.1s; 
    text-shadow: 2px 5px 10px #000;
}

.button-center a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 40px;
    background-color: transparent;
    color: var(--app-button-color);
    border-radius: 50px;
    box-shadow: 0px 2px 8px rgba(131, 131, 131, 0.4);
    padding: 15px 35px;
    cursor: pointer;
    text-decoration: none;
    animation: trans 0.5s ease-in;
    animation-delay: 0.3s; 
    border: 2px solid;
    border-color: var(--app-button-color);
}

.button-center a:hover {
    background-color: var(--app-button-color);
    color: var(--app-button-font-color);
}

@keyframes trans {
    from {
        opacity: 0;
        translate: -30px 0;
    } to {
        opacity: 1;
        translate: 0 0;
    }
}

@media (max-width:768px) {
    .title-middle h1 {
        font-size: 24px;
    }
    
    .intro-animation-col {
        width: 90%;
    }
}
